body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  margin: 0;
}

.blogs {
  margin: 20px;
}

.error,.success {
  color: white;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #DD5044;
  border-radius: 5px;
}

.success {
  background-color: #17A05D;
}

.logged-div{
  display: flex;
  align-items: center;
}

.bloglist{
  margin-top: 20px;
}

.blog{
  margin-bottom: 20px; 
  line-height: 1.5;
  background-color: #DDEAFF;
  padding: 10px;
  border-radius: 5px;
}

.label{
  display: inline-block;
  width:50px;
}

h2 {
  font-family: 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', sans-serif;
}

input[type="text"]{
  margin: 0 0 8px 8px;
  height: 1.8em;
  color: #686868;
  outline: none;
  border: 2px solid #686868;
  border-radius: 3px;
}

input[type="text"]:focus{
  border: 2px solid #5701ED;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

button {
  color: white;
  border: none;
  padding:8px 15px;
  background-color: #5701ED;
  border-radius: 4px;
  letter-spacing:1.3px;
  font-weight: bold;
}

button:hover {
  background-color:#4700C6;
  cursor: pointer;
}

button:active {
  background-color: #5701ED;
}

.logout-btn{
  margin-left: 15px;
  padding: 6px 8px;
}

.create-btn{
  align-self: center;
  margin: 0 0 15px 60px;
}

.viewButton, .hideButton {
  margin-left: 10px;
  padding: 7px 12px;

  font-size: 60%;
  background-color: #838A96;
}
.hideButton{
  background-color: #2B0079
}

.viewButton:hover{
  background-color:#565B63;
}

.hideButton:hover{
  background-color: #38009F
}

.likes {
  display: flex;
  align-items: center;
}

.likeButton{
  margin-left: 10px;
  font-size: 60%;
  padding: 5px 10px;
  background-color: #FF47A4;
}

.likeButton:hover{
  background-color:#FF19A4;
}